@using VendorOrderTracker.Models;

@{
    Layout = "_Layout";
}

<div class="container">

  @if (@Model["vendor"].Orders.Count == 0)
  {
    <br>
    <br>
    <h3>There are currently no orders for @Model["vendor"].Name</h3>
  }
  
  else
  {
    <br>
    <br>
    <h3>Orders for @Model["vendor"].Name:</h3>
    <hr>
    @foreach (Order order in @Model["orders"])
    {
      <h4><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title: @order.Date</a></h4>         
    }
    <br>
  }  
  <br>
  <hr>
  <a href='/vendors/@Model["vendor"].Id/orders/new'><button class="btn">Add a New Order</button></a>
</div>